.banner{
  position:relative;
}

.banner img{
  height: 350px;
  margin-top: 15px;
}

.banner p {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 70%;
  left: 50%;
  color: white;
  font-size: 1.5rem;
}


